<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title><%= title %></title>
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<link rel="icon" href="data:;base64,iVBORw0KGgo=" />
	</head>
	<body>
		<div
			class="adex-container"
			params="%7B%22options%22%3A%7B%22publisherAddr%22%3A%220xD038C398795698133a7D556F49e3ffed18958ef5%22%2C%22whitelistedTokens%22%3A%5B%220x6B175474E89094C44Da98b954EedeAC495271d0F%22%5D%2C%22whitelistedType%22%3A%22legacy_300x100%22%2C%22randomize%22%3Atrue%2C%22targeting%22%3A%5B%5D%2C%22width%22%3A%22300%22%2C%22height%22%3A%22100%22%2C%22minPerImpression%22%3A%220%22%2C%22fallbackUnit%22%3A%22QmXwVKY1XkRAQdAk9ug9rqeoGtaRFGFNcSS4seee7mq4UE%22%2C%22marketSlot%22%3A%22QmW3ioLH8zRfvi3jHNjb2uTMFxM6pwmFxXHnEzMWdJMSEF%22%7D%7D"
		></div>
		<div
			class="adex-container"
			params="%7B%22options%22%3A%7B%22publisherAddr%22%3A%220xD038C398795698133a7D556F49e3ffed18958ef5%22%2C%22whitelistedTokens%22%3A%5B%220x6B175474E89094C44Da98b954EedeAC495271d0F%22%5D%2C%22whitelistedType%22%3A%22legacy_300x100%22%2C%22randomize%22%3Atrue%2C%22targeting%22%3A%5B%5D%2C%22width%22%3A%22300%22%2C%22height%22%3A%22100%22%2C%22minPerImpression%22%3A%220%22%2C%22fallbackUnit%22%3A%22QmeXdTE6QRVpUAPPoFCGzeCvwVCMtTxUVE1fiH3AGGQWsV%22%2C%22marketSlot%22%3A%22QmNY6Hx8ZtYftiXdeT6F23ncyjAsgAjMgtU7453PCMHM14%22%7D%7D"
		></div>
	</body>
</html>
